*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}
ul{
    list-style: none;
}
a{
    text-decoration:none;
}
.clear{
    clear: both;
}body{
    font-family: 'Alegreya', serif;
}
.mt{
    margin-top: 100px;
}
.mb{
    margin-bottom: 70px;
}
/* start header */
.header{
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: cover;
    background-position: center center;
    height: 110vh;
    padding: 30px 0;
    overflow: auto;
}
.header .logo{
    float: left;
}
.header .logo img{
    width: 200px;
}
.header .navbar{
    float: right;
}
.header .navbar li{
    display: inline-block;
    padding: 10px 10px;
}
.header .navbar li a{
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    margin: 5px;
    font-weight: 400;
}
.header .navbar li a:hover{
    color: #e0c690;
}
.header-content{
   text-align: center;
    color: #fff;
    margin-top: 150px;
}
.header .header-content span{
    font-size: 25px;
    margin-bottom: 5px;
}
.header .header-content h1{
    font-size: 80px;
    margin-bottom: 18px;
    letter-spacing: 5px;
}
.header .header-content p{
font-size: 24px;
margin-bottom: 30px;
line-height: 40px;
}
.header button{
    color: #fff;
    border: none;
    padding: 20px 30px;
}
.header .header-content .transparent{
    border: 2px solid #fff;
    background-color: transparent;
    margin-left: 10px;
}
.header .header-content .transparent:hover{
    background-color: #fff;
    color: #000;
}

.header .header-content .btn-header{
    background-color: #8e7754;
}
.header .header-content .btn-header:hover{
    background-color: #fff;
    color: #000;
}
/* end header */

/* start who we */
.who-we .who-img{
float: left;
width: 50%;
text-align: left;
}
.who-we .who-img img{
    width: 90%;
}
.who-we .who-text{
    width: 50%;
    float: right;
    margin-top: 50px;
}
.who-we .who-text h2 {
   font-weight: 400;
   margin-bottom: 25px;
   font-size: 32px;
   line-height: 44.16px;
   color: #303030;
}
.who-we .who-text p{
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    line-height: 31.62px;
}
.who-we .list-icon{
    margin-top: 30px;
}
.who-we .list-icon li{
    margin: 20px 0;
}
.who-we .list-icon i{
    font-size: 20px;
    color: #8e7754;
    background-color: #Ffff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 100%;
    text-align: center;
    padding: 10px;
}
.who-we .list-icon span{
    font-size: 17px;
    color: #686868;
    padding-left:  10px;
    line-height: 31.62px;
}
/* end who we*/

 /* start our location */
.our-location{
    background-color: #F8F8F8;
   overflow: auto;
   height: 100vh;
}
.our-location .text-location{
    width: 50%;
    float:left;
    margin-top: 150px;
}
.our-location .text-location h4{
    font-size: 32px;
    color: #303030;
    line-height: 31.62px;
    margin-bottom: 25px; 
}
.our-location .text-location p{
    padding: 20px 0;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 18px;
    color: #686868;
}
.our-location .img-location{
    width: 50%;
    float: right;
    margin-top: 100px;
    text-align: right;
}
.our-location .img-location img{
   width: 90%;
}
 /* end our location *

/* start Our Baking */
.our-baking{
    text-align: center;
}
.our-baking h3{
    font-size: 35px;
    font-weight: 400;
    padding-bottom: 30px;
}
.our-baking p{
    font-size: 17px;
    color: #888;
}
.our-baking .card{
    float: left;
    width: 33.33%;
    margin-top: 70px;
   
}
.our-baking .card img{
    width: 90%;
}
.our-baking .card .card-content{
    padding: 20px;
}
.our-baking .card-content h4{
    font-size: 22px;
    color: #303030;
    margin-bottom: 20px;
}
.our-baking .card-content p{
    font-size: 17px;
    line-height: 30px;
}

/* end Our Baking */

/* start contact */
.contact{
    background-color: #F8F8F8;
    height: 130vh;
}
.contact .contact-text{
    float: left;
    width: 50%;
    margin-top: 100px;
}
.contact .contact-text h2{
    font-size: 32px;
    color: #303030;
    line-height: 32px;
    letter-spacing: 1px;
    padding-top: 15px;
    margin-bottom: 25px; 
}
.contact .contact-text p{
    padding: 20px 12px;
    line-height: 30px;
    font-size: 17px;
    color: #686868;
}
.contact .contact-text span{
    display: inline-block;
  color: #686868;
  font-size: 18px;
  margin-top: 10px;
}
.contact .contact-text .list-icon{
    margin-top: 30px;
}
.contact .list-icon li{
    margin: 20px 0;
}
.contact .list-icon i{
    font-size: 17px;
    color: #fff;
    background-color: #8e7754;
    border-radius: 100%;
    text-align: center;
    padding: 10px;
}
.contact .list-icon span{
    font-size: 17px;
    color: #686868;
    padding-left:20px;
    line-height: 31.62px;
}
.contact .map{
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 150px;
}

/* end contact */

/* start footer */
.footer{
    /* background-image: url(images/contact-details-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 60vh; 
    background-color: #403D38;
    color: #969696;
    padding: 40px 0;
}
.footer .footer-center{
    width: 25%;
    float: left;
}
.footer .footer-center h2{
    color: #fff;
    margin-bottom: 30px;
    font-size: 18px;
}
.footer .about p{
    line-height: 30px;
}
.footer .special li{
  position: relative;
  padding: 10px;
}
.footer .special li::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 4%;
    height: 1px;
    width: 85%;
    background-color: #686868;
}
.footer .Hours li{
    position: relative;
    padding: 10px;
}
.footer .Hours li::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 4%;
    height: 1px;
    width: 85%;
    background-color: #686868;
}
.footer .details li{
    position: relative;
    padding: 15px; 
}
.footer .details li::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 4%;
    height: 1px;
    width: 85%;
    background-color: #686868;
}
.footer .details i{
    padding-right:  10px; ;
}
/* end footer */

/*start  copy right */
.copy-right{
    background-color:#353330;
    text-align: center;
    padding-top: 100px;
    height: 60vh;
}
.copy-right p{
    color: #686868;
    margin-top: 20px;
}
.copy-right .social-icon{
    margin-top: 20px;
}
.copy-right .social-icon i{
    font-size: 17px;
    padding: 15px;
    margin-left: 10px;
    border-radius: 100%;
    background-color: #888;
    cursor: pointer;
}
/*end  copy right */




























